streamlit
pinecone-client
llama-index
llama_index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-pinecone
llama-index-core
BeautifulSoup4
google-generativeai

langchain_pinecone
langchain_community.llms
langchain_community.embeddings
langchain_community.document_loaders
langchain_text_splitters
langchain.prompts
langchain_core.runnables
langchain_core.output_parsers